body {
  background-color: white;
}

.App {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.navbar {
  background-color: #419bdc;
}


.navBarImg {
  height: 5rem;
}

.firstForm {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}


.firstInput {
  width: 64vw;
  justify-content: center;

}

.categories {
  display: flex;
  width: 50rem;
  flex-basis: 20%;
  margin: 4rem;
  cursor: pointer;
}

.card {
  width: 20rem;
  min-height: 21rem;
  /* max-height: 30rem; */
  margin: 2rem;

}

.cardList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
}

.card img {
  /* border: 0.2rem black solid; */
  min-height: 15rem;
  max-height: 15rem;
  object-fit: fill;

}

.products {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.card li {
  list-style: none;

}


/* Product Detail Page */

.detailsTitle {
  margin-top: 2rem;
}

.productDetail {
  display: flex;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.productImg {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
}

.productDescription {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  text-align: justify;
}

.quantity {
  width: 3rem;
}

.detailsPrice {
  margin-top: 3rem;
}

.productImg img {
  width: 15rem;
  height: 20rem;
}

.suggested-title {
  margin-bottom: 3rem;
}

.otherItems li {
  border: 1rem solid black;
}

.suggested ul {
  display: flex;
}

.suggested ul li {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.suggested img {
  border: 0.2rem black solid;
  width: 15rem;
  height: 15rem;
  object-fit: f;
}

.productDescription button {
  margin-top: 3rem;
}


/* Purchases Page */
.myPurchases h2 {
  margin-top: 1rem;
}

.purchases li {
  border: 0.5rem solid black;
  list-style: none;
  margin: 3rem;

}

.purchasesItems {
  display: flex;

}

.purchasesTitle {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  flex-basis: 45%;
  text-align: justify;
  margin-left: 3rem;
}

.purchasesQuantity {
  display: flex;
  margin-right: 3rem;
  flex-basis: 15%;
}